#root {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-container {
  position: relative;
  display: flex;
  max-width: 1280px;
  width: 100%;
  aspect-ratio: 8 / 5;
  max-height: 80vh;
  margin: 0 auto;
}

.image-slider {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.displayed-image {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  transition: translate 200ms ease-in-out;
}

.prevBtn,
.nextBtn {
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  height: 100%;
  width: 10%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.prevBtn {
  left: 0;
}

.nextBtn {
  right: 0;
}

.prevBtn:hover,
.nextBtn:hover {
  background: rgba(0, 0, 0, 0.35);
}

.indexBtn-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;

  bottom: 0.25rem;
  gap: 0.2rem;
}

.indexBtn {
  all: unset;
  transition: scale 200ms ease-in-out;
}

.indexBtn:hover {
  scale: 1.2;
}

.circle1 {
  scale: 1.2;
}
