#root {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-container {
  position: relative;
  display: flex;
  max-width: 1280px;
  width: 100%;
  aspect-ratio: 8 / 5;
  max-height: 80vh;
  margin: 0 auto;
}

.displayed-image {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
}

.prevBtn,
.nextBtn {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  height: 100%;
  width: 10%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.prevBtn {
  left: 0;
}

.nextBtn {
  right: 0;
}
